---
import Layout from "../layouts/Layout.astro";

const hamu_name = "ぽこちゃん🐹";
const description = "きのう　いえに　やってきた　ハムスターだよ㊗️";
const skills = ["ひまわりのタネ", "観覧車", "もごもご", "ねんね"];
---

<Layout title="わが家の新人ハムスター">
    <h1>{hamu_name}</h1>
    <p>{description}</p>

    <h2>とくいなこと</h2>
    <p class="skill-list">
      {skills.map((skill) => <span class="skill-tag">{skill}</span>)}
    </p>

    <a href="/about">飼い主について　→</a>
    </div>
</Layout>
