---
const { title } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  body {
    font-family: sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #b2d8f8;
  }
  /* 画面幅が 480px 以下のとき */
  @media (max-width: 480px) {
    body {
      padding: 1rem;
    }
  }

  h1,
  h2 {
    color: #df7bba;
  }

  h1 {
    background-color: #fff6d0;
    display: inline-block;
  }
  p {
    line-height: 1;
  }

  .profile-card {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .skill-list {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  .skill-tag {
    background-color: #5be3cf;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
  }

  .icon {
    font-size: 4rem;
  }

  .info {
    margin: 0;
    color: #39426b;
  }
</style>
